[Unit]
Description=Jarvis - Iron Man Clap Detector
After=default.target

[Service]
ExecStart=/home/dawid/Projects/jarvis/.venv/bin/python /home/dawid/Projects/jarvis/jarvis.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=jarvis
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

[Install]
WantedBy=default.target
